$main-color:#fff;
$second-color:#777;
$black-color:#000;
$color-dark:#333;
$color-gray-2:#eee;

$Purple-color:rgb(66, 22, 39);
$pink-color:rgb(180, 135, 162);


$color-gray-light:rgba(215, 208, 215, 0.4);
$color-gray-1:rgba(215, 208, 215, 0.7);

$orange-color-light: rgb(99, 33, 17);
$orange-color-dark: rgb(167, 73, 49);

$blue-color-light: rgb(37, 59, 83);
$blue-color-dark: rgb(84, 121, 151);

$defult-font-size:1.6rem;

$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal: 0 4rem;