.row{
    max-width:114rem ;
    margin: 0 auto;
    &>*{ padding: $gutter-horizontal;}

    &:not(:last-child){
        margin-bottom: $gutter-vertical;

        @include respond(tab-port){
            margin-bottom: $gutter-vertical-small;
          }
    }

    @include respond(tab-port){
       max-width: 50rem;
       padding: 0 3rem;
      }
      @include respond(tab-land){
        &>*{ padding: 6px;}
       }


}

    @include clearfix;

    [class^="col-xs"]{
        float: left;

        &:not(:last-child){
            margin-right: $gutter-horizontal;

            @include respond(tab-port){
              margin-right: 0;
              margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port){
            width: 100% !important;
        }

      
    }

  
    

